#tlShieldExternalWrapper{
    font-family: "Arial";
}

.centerDivWrapper{
	position: relative;
}

.centerDiv{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}

.centerHorizontalDiv{
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%);
}

.centerVerticalDiv{
	position: absolute;
	top: 50%;
    transform: translateY(-50%);
    
}

.tlShield,.tlShield img{
    position: fixed;
    bottom: 0;
    right: -69px;
    transition: right .4s;
}

#wrapperImage{
    opacity: 0;
}

.tlShield:hover img{
    right: 0;
    cursor: pointer;
}

.tlShield:hover #wrapperImage{
    opacity: 1;
}

#popup{
    width: 280px;
    position: fixed;
    bottom: 60px;
    right: 10px;
    animation: noneToBlock 1s;
    -webkit-animation: noneToBlock 1s; 
}

@keyframes noneToBlock{
    from {
        opacity: 0;
    }to {
        opacity: 1;
    }
}

@-webkit-keyframes noneToBlock{
    from {
        opacity: 0;
    }to {
        opacity: 1;
    }
}

#header{
    height: 50px;
    background-color: white;
}

#header i{
    float: right;
    color: rgb(190,191,193);
    width: 28px;
    text-align: center;
    cursor: pointer;
    line-height: 50px;
}

#tlShieldExternalWrapper a{
    text-decoration: none;
}

#header a{
    font-size: 11px;
    float: right;
    color: rgb(109,112,116);
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 13px;
    margin-bottom: 13px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 24px;
    border: 1px solid rgb(230,231,232);
    background: rgb(244,245,246);
}

#header h3{
    float: right;
    font-size: 20px;
    margin-top: 13px;
    margin-right: 33px;
}

#header img{
    height: 40px;
    width: 40px;
    margin-top: 5px;
    margin-left: 5px;
}

#intro{
    background-color: #007AFF;
    cursor: pointer;
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;
    color: rgb(255,255,255);
}

#intro .line1{
    font-size: 20px;
    font-weight: 700;
}

#intro .line2{
    font-size: 15px;
    font-weight: 600;
}

#intro .line3{
    font-size: 12px;
    font-weight: 500;
    margin-top: 7px;
}

#rows .row-malware{
    background-image: url("../images/icon/malware.png");
}

#rows .row-ico{
    background-image: url("../images/icon/malware.png");
}

#rows .row-ssl{
    background-image: url("../images/icon/ssl.png");
}

#rows .row-phishing{
    background-image: url("../images/icon/phishing.png");
}

#rows .row-reviews{
    background-image: url("../images/icon/trustedsite.png");
}

#rows .tls-row{
    border-top: solid 1px #f5f5f5;
    height: 50px;
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: center;
    padding-left: 50px;
    transition: all 0.2s linear;
    position: relative;
    background-color: white;
}

#rows .tls-row i.fa-angle-right{
    float: right;
    line-height: 50px;
    text-align: center;
    margin-right: 5px;
    color: #e6e7e8;
    font-size: 25px;
    opacity: 0;
    transition: all 0.2s linear;
}

#rows .tls-row:hover i.fa-angle-right{
    opacity: 1;
}

#rows .tls-row:hover{
    background-color: #fdfdfd;
}

#rows .tls-row .line1{
    transition: all 0.2s linear;
    font-weight: 600;
    position: relative;
    top: 15px;
    font-size: 14px;
    color: #444;
}

#rows .tls-row .line2{
    position: relative;
    transition: all 0.2s linear;
    opacity: 0;
    font-size: 11px;
    color: #333;
    top: 25px;
}

#rows .tls-row:hover .line1{
    top: 8px;
}

#rows .tls-row:hover .line2{
    top: 10px;
    opacity: 1;
}

#rows .row-reviews i.fa-star-o{
    color: #ffb900;
    margin-right: 2px;
}